{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="row default-identation" style="padding-top: 10px; padding-bottom: 10px">
        <div class="col-md-12 col-sm-12 col-xl-12 grid-margin stretch-card  d-md-flex">
            <div class="card card-statistics text-center">
                <div class="card-body">
                    <h4 class="menu-title">{{ hackathon.name }}</h4>
                    <p class="card-title" style="color: white">{{ hackathon.description }}</p>
                    <div class="template-demo">
                    <button type="button" class="btn btn-info btn-fw btn-icon-text" data-toggle="modal" data-target="#integrantes">
                        Integrantes do Hackathon
                        <i class="fas fa-users btn-icon-append" style="color: white"></i>
                    </button>
                </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Só equipe admin -->
    {% if  hackathon.team_manager.id == team.id %}
        <div class="row default-identation">
            <div class="col-md-12 col-sm-12 col-xl-12 grid-margin stretch-card  d-md-flex">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Nova atividade</h4>
                        <form id="example-form" method="post" action="{% url 'competicoes:create_phase' %}">
                            {% csrf_token %}
                            <div>
                                <section>
                                    <div class="form-group">
                                        <label>Nome</label>
                                        <input class="form-control" name="name" id="name" placeholder="Nome da atividade">
                                    </div>
                                    <div class="form-group">
                                        <label>Descrição</label>
                                        <textarea class="form-control" name="description" id="description"
                                                  placeholder="Descrição da Atividade" required></textarea>
                                    </div>
                                </section>
                            </div>
                            <input type="hidden" name="id_hackathon" value="{{ hackathon.id }}">
                            <input class="btn btn-primary btn-fw" type="submit" value="Pronto">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}


    <div class="row default-identation">
        <div class="col-md-12 col-sm-12 col-xl-12 grid-margin stretch-card  d-md-flex">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"> Atividades </h4>
                    <p class="card-description">
                        As seguintes fases devem ser elaboradas, e enviadas.
                    </p>
                    <div class="row">
                    <!-- Fazer ------------------------------------------------------------------------------------------------------------------------------ -->
                        <div class="col-md-6">
                            <h6 class="card-title">Fazer</h6>
                            <!-- gerenciando -->
                            {% if  hackathon.team_manager.id == team.id %}
                                {% if  phases_of_hackathon.count != 0 %}
                                    {% for  phases in phases_of_hackathon %}
                                        <div class="card rounded border mb-2">
                                            <div class="card-body p-4">
                                                <div class="media">
                                                    <i class="fas fa-plus icon-sm text-success align-self-center mr-3"></i>
                                                    <div class="media-body">
                                                        <h6 class="mb-1">{{ phases.name }}</h6>
                                                        <p class="mb-0 text-muted">
                                                            {{ phases.description }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <p class="mb-0 text-muted" >Cadastre uma <a  href="" data-toggle="modal" data-target="#NovaAtividade" >atividade</a></p>
                                {% endif %}
                            {% endif %}

                            <!-- participando -->
                            {% if  hackathon.team_manager.id != team.id %}
                                {% if  phases_of_hackathon_2.count != 0 %}
                                    <!-- Listar e Responder tarefas -->
                                    {% for  phases in phases_of_hackathon %}
                                          <!-- Testar se ja foi respondido -->
                                          <div class="rounded border mb-6">
                                              <div class="mt-2">
                                              <div class="accordion" id="accordion" role="tablist">
                                                    <div class="card">
                                                          <form methods="post" action="{% url 'competicoes:new_activity' %}">
                                                            <div class="card-header" role="tab" id="heading-2">
                                                              <h6 class="mb-0">
                                                                <a class="collapsed" data-toggle="collapse" href="#{{ phases.id }}" aria-expanded="false" aria-controls="{{ phases.id }}">
                                                                  {{ phases.name }}
                                                                    <p class="mb-0 text-muted">{{ phases.description }}</p>
                                                                </a>
                                                              </h6>
                                                            </div>
                                                            <div id="{{ phases.id }}" class="collapse" role="tabpanel" aria-labelledby="heading-2" data-parent="#accordion">
                                                              <div class="card-body">
                                                                <div class="row">
                                                                  <div class="col-12">
                                                                    <div>
                                                                        <section>
                                                                            <div class="form-group">
                                                                                <textarea class="form-control" name="description" placeholder="Resposta da Atividade" required></textarea>
                                                                            </div>
                                                                        </section>
                                                                    </div>
                                                                  </div>
                                                                  <div class="col-12">
                                                                        <div class="media">
                                                                            <input type="hidden" name="id_phase" value="{{ phases.id }}">
                                                                            <input type="hidden" name="nota" value="0">
                                                                            <input type="hidden" name="name" value="{{ phases.name }}">
                                                                            <input type="hidden" name="id_team" value="{{ team.id }}">
                                                                            <input type="hidden" name="hackathon_slug" value="{{ hackathon.slug }}">
                                                                            <input class="btn btn-primary btn-fw" type="submit" value="Pronto">
                                                                        </div>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </form>
                                                    </div>
                                              </div>
                                         </div>
                                          </div>
                                    {% endfor %}
                                {% else %}
                                    <p class="mb-0 text-muted" >Por enquanto nenhuma atividade foi cadastrada pelos administradores.</p>
                                {% endif %}
                            {% endif %}
                        </div>
                    <!-- Respondidas ------------------------------------------------------------------------------------------------------------------------------ -->
                        <div class="col-md-6 ">
                            <!-- gerenciando -->
                            {% if  hackathon.team_manager.id == team.id %}
                                <h6 class="card-title">Avaliar Atividades</h6>
                                    {% for  phases in phases_of_hackathon %}
                                          <div class="mt-2">
                                              <div class="accordion" id="accordion" role="tablist">
                                                    <div class="card">
                                                        <div class="card-header" role="tab" id="heading-2">
                                                          <h6 class="mb-0">
                                                            <a class="collapsed" data-toggle="collapse" href="#{{ phases.id }}" aria-expanded="false" aria-controls="{{ phases.id }}">
                                                              {{ phases.name }}
                                                                <p class="mb-0 text-muted">{{ phases.description }}</p>
                                                            </a>
                                                          </h6>
                                                        </div>
                                                        <div id="{{ phases.id }}" class="collapse " role="tabpanel" aria-labelledby="heading-2" data-parent="#accordion">
                                                            {% for  phase in activities_of_hackathon %}
                                                                {% for ac in phase %}
                                                                    {% for activite in ac %}
                                                                        {% if phases.name == activite.name %}
                                                                                <form methods="post" action="{% url 'competicoes:update_activity' %}">
                                                                                    <div class="card card-rounded">
                                                                                            <div class=" col-12 text-white" {% if activite.nota != 0 %} style="background-color: #0a88e3"{% else %} style="background-color: lightslategray" {% endif %}>
                                                                                                <div class="card-body p-3">
                                                                                                      <h5>{{  activite.id_team }}</h5>
                                                                                                      <p>{{  activite.description }}</p>
                                                                                                          <h6>Nota: <b>{{  activite.nota }}</b></h6>
                                                                                                      <p class="mb-0  text-white">Reavaliar</p>
                                                                                                     <div class="media">
                                                                                                        <select class="form-control form-control-lg" id="exampleFormControlSelect1" name="nota">
                                                                                                            <option {% if activite.nota == 1 %} selected = "selected" {% endif %} value="1" >1</option>
                                                                                                            <option {% if activite.nota == 2 %} selected = "selected" {% endif %} value="2" >2</option>
                                                                                                            <option {% if activite.nota == 3 %} selected = "selected" {% endif %} value="3" >3</option>
                                                                                                            <option {% if activite.nota == 4 %} selected = "selected" {% endif %} value="4" >4</option>
                                                                                                            <option {% if activite.nota == 5 %} selected = "selected" {% endif %} value="5" >5</option>
                                                                                                        </select>
                                                                                                     </div>
                                                                                                     <div class="p-3">
                                                                                                            <input type="hidden" name="id_activity" value="{{ activite.id }}">
                                                                                                            <input type="hidden" name="id_team" value="{{ team.slug }}">
                                                                                                            <input type="hidden" name="description" value="{{ activite.description }}">
                                                                                                            <input type="hidden" name="name" value="{{  activite.name }}">
                                                                                                            <input type="hidden" name="slug_hackathon" value="{{ hackathon.slug }}">
                                                                                                             {% if activite.nota != 0 %}
                                                                                                                 <input class="btn btn-light btn-fw" type="submit" value="Pronto">
                                                                                                             {% else %}
                                                                                                                 <input class="btn btn-info btn-fw" type="submit" value="Pronto">
                                                                                                             {% endif %}
                                                                                                     </div>
                                                                                                </div>
                                                                                            </div>
                                                                                    </div>
                                                                                </form>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                {% endfor %}
                                                            {% endfor %}
                                                            <!-- testa se tem atividades respondidas
                                                            {% if activite %}
                                                            {% else %}
                                                                <div class="card-body">
                                                                    <p class="text-muted">Esta fase ainda não tem respostas.</p>
                                                                </div>
                                                            {% endif %} -->
                                                       </div>
                                                    </div>
                                              </div>
                                         </div>
                                    {% endfor %}
                            {% endif %}
                            <!-- participando -->
                            {% if  hackathon.team_manager.id != team.id %}
                                <h6 class="card-title">Pronto</h6>
                                {% for  phase in activities_of_hackathon %}
                                    {% for ac in phase %}
                                        {% for activite in ac %}
                                            {% if activite.id_team == team %}
                                             <div class="card rounded border mb-2">
                                                <div class="card-body p-4">
                                                    <div class="media">
                                                    {% if activite.nota == 0 %} <i class="fa fa-times icon-sm text-warning align-self-center mr-3"></i> {% else  %}<b><i class="fa fa-check icon-sm text-success align-self-center mr-3"></i></b> {% endif  %}

                                                        <div class="media-body">
                                                            <h6 class="mb-1">{{ activite.name }}</h6>
                                                            <p class="mb-0 text-muted">
                                                                {{ activite.description }}
                                                            </p>
                                                            <h6 data-rating-value="1" data-rating-text="1" class="mb-1 br-selected" style="padding-top: 10px">
                                                                {% if activite.nota == 0 %} Nota: Ainda não foi avaliada{% else  %}<b>Nota: {{ activite.nota }}</b> {% endif  %}</h6>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-0">Participantes deste Hackathon</h4>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-inline-block pt-3">
                            <div class="d-md-flex">
                                <h2 class="mb-0">{{ teams_of_hackathon.count }}</h2>
                            </div>
                        </div>
                        <div class="d-inline-block">
                            <i class="fas fa-handshake text-info icon-lg"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-0">Premiação</h4>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-inline-block pt-3">
                            <div class="d-md-flex">
                                <h2 class="mb-0">R$225</h2>
                            </div>
                        </div>
                        <div class="d-inline-block">
                            <i class="fas fa-money-bill-alt text-success icon-lg"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- fazer tarefa modal -->
    <div class="modal fade" id="FazerTarefa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="card-title">Responda a tarefa</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="example-form" class="cmxform" method="post" action="{% url 'create_team' %}">
                    <div class="modal-body">
                        {% csrf_token %}
                        <div>
                            <section>
                                <div class="form-group">
                                    <textarea id="comment" class="form-control" name="comment" required></textarea>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="id_hackathon" value="{{ hackathon.id }}">
                        <input class="btn btn-primary btn-fw" type="submit" value="Pronto">
                        <button class="btn btn-light" type="reset">Limpar</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--modal Integrantes-->
    <div class="modal fade" id="integrantes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="card">
                <div class="card-body">

                    <div class="row text-center" style="padding-top: 30px;">
                        <div class="col-md-12">
                            <h4>Equipes Integrantes do Hackathon</h4>
                            {% if teams_of_hackathon.count == 0 %}
                                <p>Este hackathon ainda não tem integrantes.</p>
                            {% endif %}
                        </div>
                        <!-- listar integrantes do time -->
                        {% for  teams in teams_of_hackathon %}
                                <div class="col-md-4 grid-margin stretch-card" style="padding: 15px">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="d-flex flex-row">
                                                <img class="img-sm rounded-circle"
                                                     src="{% static 'images/logoSmall.png' %}"
                                                     alt="profile image"/>
                                                <div class="ml-3">
                                                    <h6>{{ teams.name }}</h6>
                                                    <p class="text-muted">{{ teams.description }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Fechar</button>
                    </div>
            </div>
        </div>
    </div>

     {#    Modal nova atividade #}
    {% if  hackathon.team_manager.id == team.id %}
        <div class="theme-setting-wrapper">
            <div id="settings-trigger" data-toggle="modal" data-target="#NovaAtividade">
                <i class="fas fa-plus"></i>
            </div>
        </div>
    {% endif %}
    {#    Modal nova atividade#}
    <div class="modal fade" id="NovaAtividade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="card-title">Adicione uma nova atividade</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form id="example-form" method="post" action="{% url 'competicoes:create_phase' %}">
                    <div class="modal-body">
                        {% csrf_token %}
                        <section>
                            <div class="form-group">
                                <label>Nome</label>
                                <input class="form-control" name="name" id="name" placeholder="Nome da atividade">
                            </div>
                            <div class="form-group">
                                <label>Descrição</label>
                                <textarea class="form-control" name="description" id="description"
                                          placeholder="Descrição da Atividade" required></textarea>
                            </div>
                        </section>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-light" type="reset">Limpar</button>
                        <input type="hidden" name="id_hackathon" value="{{ hackathon.id }}">
                        <input class="btn btn-primary btn-fw" type="submit" value="Pronto">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
