{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row" style="padding: 10px">
        <div class="col-md-3 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <i class="fas fa-brain" style="font-size: 60px"></i>
                        <div class="ml-3">
                            <h6>Meus Hakathons</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <i class="fas fa-list-ol" style="font-size: 60px"></i>
                        <div class="ml-3">
                            <h6>Fases</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <i class="fas fa-plus" style="font-size: 60px"></i>
                        <div class="ml-3">
                            <h6>Criar Hackathon</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <i class="fas fa-paper-plane" style="font-size: 60px"></i>
                        <div class="ml-3">
                            <h6>Meus convites</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="input-group" style="padding: 10px">
        <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-search"></i>
              </span>
        </div>
        <input type="text" class="form-control" placeholder="Buscar Hackathons" aria-label="Search">
    </div>
    <div class="row" style="padding: 10px">
        <div class="col-md-9 grid-margin stretch-card d-none d-md-flex">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">NOME_HACKATHON</h4>
                    <p class="card-description">Úlitmo hackathon visitado</p>
                    <div class="row">
                        <div class="col-2">
                            <ul class="nav nav-tabs nav-tabs-vertical" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab-vertical" data-toggle="tab" href="#home-2"
                                       role="tab" aria-controls="home-2" aria-selected="true">
                                        Sobre
                                        <i class="fa fa-home text-info ml-2"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab-vertical" data-toggle="tab" href="#profile-2"
                                       role="tab" aria-controls="profile-2" aria-selected="false">
                                        Mentores
                                        <i class="fa fa-user-tie text-danger ml-2"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="contact-tab-vertical" data-toggle="tab" href="#contact-2"
                                       role="tab" aria-controls="contact-2" aria-selected="false">
                                        Tutores
                                        <i class="far fa-user-ninja text-success ml-2"></i>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="contact-tab-vertical" data-toggle="tab" href="#contact-2"
                                       role="tab" aria-controls="contact-2" aria-selected="false">
                                        Times
                                        <i class="far fa-users text-success ml-2"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-10">
                            <div class="tab-content tab-content-vertical">
                                <div class="tab-pane fade show active" id="home-2" role="tabpanel"
                                     aria-labelledby="home-tab-vertical">
                                    <div class="text-center">
                                    </div>
                                    <h3>Sobre NOME_HACKATHON</h3>
                                    <br>
                                    <p>
                                        Inhabiting discretion the her dispatched decisively boisterous joy. So form were
                                        wish open
                                        is able of mile of. Waiting express if prevent it we an musical. Especially
                                        reasonable travelling
                                        Inhabiting discretion the her dispatched decisively boisterous joy. So form were
                                        wish open
                                        is able of mile of. Waiting express if prevent it we an musical. Especially
                                        reasonable travelling
                                    </p>
                                </div>
                                <div class="tab-pane fade" id="profile-2" role="tabpanel"
                                     aria-labelledby="profile-tab-vertical">
                                    <div class="text-center">
                                        <img class="mb-3 w-25 rounded" src="../../images/faces/face1.jpg"
                                             alt="sample image">
                                        <h5 class="mt-0">Adam John</h5>
                                        <p class="mb-0">UX specialist</p>
                                        <p class="mb-0">Florida</p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="contact-2" role="tabpanel"
                                     aria-labelledby="contact-tab-vertical">
                                    <h4>Contact us </h4>
                                    <p>
                                        Feel free to contact us if you have any questions!
                                    </p>
                                    <p>
                                        <i class="fa fa-phone text-info"></i>
                                        +123456789
                                    </p>
                                    <p>
                                        <i class="far fa-envelope-open text-success"></i>
                                        contactus@example.com
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Últimas atualizações</h4>
                    <ul class="solid-bullet-list">
                        <li>
                            <h6>User confirmation</h6>
                            <p>Lorem Ipsum is simply dummy text of the printing </p>
                            <p class="text-muted">
                                <i class="far fa-clock"></i>
                                7 months ago.
                            </p>
                        </li>
                        <li>
                            <h6>Continuous evaluation</h6>
                            <p>Lorem Ipsum is simply dummy text of the printing </p>
                            <p class="text-muted">
                                <i class="far fa-clock"></i>
                                7 months ago.
                            </p>
                        </li>
                        <li>
                            <h6>Promotion</h6>
                            <p>Lorem Ipsum is simply dummy text of the printing </p>
                            <p class="text-muted">
                                <i class="far fa-clock"></i>
                                7 months ago.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{#    Modal novo hackathon#}
    <div class="modal fade" id="NovoHackathon" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="card-title">{% if update %}Edite sua Equipe{% else %}Crie sua Equipe{% endif %}</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="example-form" method="post" action="{% url 'create_team' %}">
                        <div class="modal-body">
                            {% csrf_token %}
                            <div>
                                <section>
                                    <div class="form-group">
                                        <label>Nome</label>
                                        <input class="form-control" name="name" id="name" placeholder="Nome da Equipe"
                                               value="{% if update %} {{ update.name }} {% endif %}">
                                        <small class="form-text text-muted">Ex: Só Beck end, Terror do NetBeans,
                                            HeadShot, Tic-e-taca, C mexe comigo..
                                        </small>
                                    </div>
                                    <div class="form-group">
                                        <label>Descrição</label>
                                        <input class="form-control" name="description" id="description"
                                               placeholder="Descrição da Equipe"
                                               value="{% if update %} {{ update.description }} {% endif %}">
                                        <small class="form-text text-muted">Ex: Só tem fera aqui bixo..</small>
                                    </div>
                                    <input type="hidden" name="id_team"
                                           value="{% if update %} {{ update.id }} {% endif %}">
                                </section>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-light" type="reset">Limpar</button>
                            <input class="btn btn-primary btn-fw" type="submit"
                                   value="{% if update %}Editar{% else %}Pronto{% endif %}">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-md-6 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-0">Statistics</h4>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-inline-block pt-3">
                            <div class="d-md-flex">
                                <h2 class="mb-0">$10,200</h2>
                                <div class="d-flex align-items-center ml-md-2 mt-2 mt-md-0">
                                    <i class="far fa-clock text-muted"></i>
                                    <small class=" ml-1 mb-0">Updated: 9:10am</small>
                                </div>
                            </div>
                            <small class="text-gray">Raised from 89 orders.</small>
                        </div>
                        <div class="d-inline-block">
                            <i class="fas fa-chart-pie text-info icon-lg"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-0">Daily Order</h4>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-inline-block pt-3">
                            <div class="d-md-flex">
                                <h2 class="mb-0">$2256</h2>
                                <div class="d-flex align-items-center ml-md-2 mt-2 mt-md-0">
                                    <i class="far fa-clock text-muted"></i>
                                    <small class="ml-1 mb-0">Updated: 05:42pm</small>
                                </div>
                            </div>
                            <small class="text-gray">hey, let’s have lunch together</small>
                        </div>
                        <div class="d-inline-block">
                            <i class="fas fa-shopping-cart text-danger icon-lg"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{#    Modal novo hackathon#}
    <div class="theme-setting-wrapper">
        <div id="settings-trigger" data-toggle="modal" data-target="#NovoHackathon">
            <i class="fas fa-plus"></i>
        </div>
    </div>

{% endblock %}
