{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <div class="nav-link">
                <div class="profile-image">
                    <img src="{% static 'images/faces/face4.jpg' %}" alt="image"/>
                </div>
                <div class="profile-name">
                    <strong>Bem vindo</strong>
                    <p class="name">
                        {{ user.username }}
                    </p>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'list_teams' %}">
                <i class="fa fa-home menu-icon text-success"></i>
                <span class="menu-title ">Home</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#page-layouts" aria-expanded="false"
               aria-controls="page-layouts">
                <i class="fas fa-user-friends menu-icon text-info"></i>
                <span class="menu-title">Equipes</span>
                <i class="menu-arrow"></i>
            </a>
            {##}        {% if members %}
            <div class="collapse" id="page-layouts">
                <ul class="nav flex-column sub-menu">
                    {% for  member in members %}
                        {% if member.level_asses != 'Invited' %}
                            <li class="nav-item d-none d-lg-block">
                                <a class="nav-link"
                                   href="{% url 'get_team' member.id_team.slug %}">{{ member.id_team.name }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <div class="collapse" id="page-layouts">
                <ul class="nav flex-column sub-menu">
                    <div class="wrapper d-flex align-items-center py-3">
                        <p class="mb-0 text-muted">Você ainda não tem equipes</p>
                    </div>
                </ul>
            </div>
        {% endif %}
        </li>
        <li class="nav-item">
            <a data-target="#exit" class="nav-link" data-toggle="modal">
                <i class="fas fa-frown menu-icon" style="color: red"></i>
                <span class="menu-title">Sair</span>
            </a>
        </li>
    </ul>
</nav>
<div id="exit" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exit" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Você tem certeza que deseja ir embora?</h1>
            </div>
            <div class="modal-footer">
                <a href="{% url 'logout' %}">
                    <button type="button" class="btn btn-danger">Sair <i class="fas fa-frown menu-icon"></i></button>
                </a>
                <button type="button" class="btn btn-success" data-dismiss="modal">vou ficar <i class="fas fa-smile-beam menu-icon"></i></button>
            </div>
        </div>
    </div>
</div>